In [1]:
song_names = ['in my feelings', 'one dance', 'zero to one hundred', 'gods plan']

---

### 1) What are the types of the following variables?

In [49]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'steve': 'marino', 'bobby': 'flats'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [50]:
# A:
type(a)

int

In [51]:
type(b)
type(c)

list

In [52]:
type(b)

float

In [53]:
type(c)

list

In [54]:
type(e)

tuple

In [55]:
type(c)

list

In [56]:
c[0] = 'steve'

In [57]:
e[0] = 'steve'

TypeError: 'tuple' object does not support item assignment

In [58]:
#print the songs list

In [59]:
# A:
print(song_names)

['in my feelings', 'one dance', 'water no guidance', 'gods plan', 'hotline', 'passion fruit', 'one dance', 'toosie slide', 'water', 'no guidance']

---

### 4) Print the names of the first and last song on the list.

In [60]:
song_names[0]
song_names[3]

'gods plan'

In [61]:
# A:
print(song_names[0])
print(song_names[3])

in my feelings
gods plan

In [62]:
print(song_names[0])
print(song_names[-1])

in my feelings
no guidance

In [63]:
print(song_names[0], ",", song_names[-1])

in my feelings , no guidance

---

### 5) Print the first five names in the `song_names` list.

In [64]:
# A:
song_names = song_names + ['hotline', 'passion fruit', 'one dance', 'toosie slide', 'water', 'no guidance']

In [65]:
len(song_names)

16

In [66]:
song_names[0:5]

['in my feelings', 'one dance', 'water no guidance', 'gods plan', 'hotline']

In [67]:
song_names[:5]

['in my feelings', 'one dance', 'water no guidance', 'gods plan', 'hotline']

---

### 6) Combine the ninth and 10th song names into a single string, separated by a space. Assign that string to a variable.

In [68]:
# A:
ans = song_names[8] + ' ' + song_names[9]
print(ans)

water no guidance

In [69]:
song_names[2] = song_names[8] + ' ' + song_names[9]

In [70]:
song_names

['in my feelings',
 'one dance',
 'water no guidance',
 'gods plan',
 'hotline',
 'passion fruit',
 'one dance',
 'toosie slide',
 'water',
 'no guidance',
 'hotline',
 'passion fruit',
 'one dance',
 'toosie slide',
 'water',
 'no guidance']

---

### 7) Append an animal to the list of animals.

In [71]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [72]:
# A:
animals[6] = 'bear'

IndexError: list assignment index out of range

In [76]:
animals.append('cow')

In [77]:
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'cow', 'cow']

In [75]:
set(animals)

{'boar', 'cow', 'duck', 'gazelle', 'mammoth', 'rat', 'slug'}

---

### 8) Print the length of the `animals` list.

In [43]:
# A:
len(animals)

8

---

### 9) Divide the length of the fifth animal by the second.

In [78]:
# A:
len(animals[4])/len(animals[1])

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [85]:
# A:
float(len(animals[4])/len(animals[1]))

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [14]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [15]:
# A:

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [111]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [112]:
# A:
names[2] = 'jacob'

In [113]:
names

['doug', 'billy', 'jacob', 'kian', 'sam']

---

### 13) Count the number of times `0` appears in the following list.

In [24]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [25]:
# A:

---

### 14) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [26]:
# A:

---

### 15) Get the zip code for `'soma'` and assign it to a variable.

In [115]:
# A:
soma = d['soma']

---

### 16) Get the keys out of the dictionary.

In [108]:
# A:
d.keys()

dict_keys(['presidio', 'soma', 'marina'])

---

### 17) Get the key-value pairs out of the dictionary as a list of tuples.

In [107]:
# A:
d.items()

dict_items([('presidio', 94129), ('soma', 94105), ('marina', 94123)])

---

### 18) Add The Castro to the dictionary with the zip code 94114.

In [118]:
# A:
print(song_names[0])
print(song_names)

in my feelings
['in my feelings', 'one dance', 'water no guidance', 'gods plan', 'hotline', 'passion fruit', 'one dance', 'toosie slide', 'water', 'no guidance', 'hotline', 'passion fruit', 'one dance', 'toosie slide', 'water']

---

### 19) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [31]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [32]:
# A:

---

### 20) Remove the `'sunset'` zip code and assign it to a variable.

In [119]:
# A:
d = {'sunset':94122,
'presidio':94129,
'soma':94105,
'marina':94123}

In [120]:
d['dlx'] = 666

In [121]:
d

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'dlx': 666}

In [89]:
sunset = d.pop('sunset')

In [90]:
sunset

94122

In [103]:
zipcode = d['sunset']

In [104]:
del(d['sunset'])

In [105]:
d

{'presidio': 94129, 'soma': 94105, 'marina': 94123}

In [106]:
zipcode

94122

In [94]:
sunset = d['sunset']

In [95]:
sunset

94122

In [96]:
d

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

In [97]:
song_names

['in my feelings',
 'one dance',
 'water no guidance',
 'gods plan',
 'hotline',
 'passion fruit',
 'one dance',
 'toosie slide',
 'water',
 'no guidance',
 'hotline',
 'passion fruit',
 'one dance',
 'toosie slide',
 'water',
 'no guidance']

In [98]:
song_names.pop()

'no guidance'

In [99]:
song_names

['in my feelings',
 'one dance',
 'water no guidance',
 'gods plan',
 'hotline',
 'passion fruit',
 'one dance',
 'toosie slide',
 'water',
 'no guidance',
 'hotline',
 'passion fruit',
 'one dance',
 'toosie slide',
 'water']